body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.display-flex{
    display: flex;
}
.logo{
    margin-left: 5%;
}
.logo img{
    width: 100px;
    height: 100px;
    
}
.top-bar{
    background-color: blueviolet;
}
.nav-bar{
    width: 800px;
    margin-left: 20%;
    margin-top: 20px;
}
ul li{
    display: inline;
    
}
ul li a{
    text-decoration: none;
    text-align: center;
    border: 1px solid;
    padding: 10px 20px;
    background-color: chocolate;
    color: white;
    font-weight: 700;
}
ul li a:hover{
    border: 1px solid red;
    background-image: linear-gradient(to right, black, orange);
    
}
.text{
    margin-top: 80px;
}
.color-magenta{
    color: magenta;
}
.half-box{
    width: 50%;
    margin-left: 5%;
    padding: 2%;
    
}

.half-box img{
    width: 60%;
}
.btn{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    background-image: linear-gradient(to left, magenta, purple);
    color: white;
    font-weight: 700;
    box-shadow: 10px 10px 20px purple;
}
.half-box h1{
    font-size: 50px;
}
.half-box p{
    font-size: 20px;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 770px;
}
.my-recipies{
    margin: 0px 30%;
}
.my-recipies {
    text-align: center;
    padding: 50px 20px;
}
.recipy-box{
    margin-left: 10%;
}
.recipy{
    width: 20%;
    border-radius: 10px;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 30px gray;
}
.recipy-box h1,p{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}
.recipy img{
    display: block;
    width: 90%;
    height: 60%;
    margin:auto;
    border-radius: 10px;
}
.bottom{
    display: flex;
    box-shadow: 10px 10px 30px gray;
    width: 63%;
    margin: 150px 15%;
    border-radius: 20px;
}
.bottom-box{
    margin-left: 15%;
    padding: 1%;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 2%;
    height: 200px;
}